@media (max-width:480px) {

  body {
    padding: 0;
  }

  .sidebar {
    width: 100%;
    padding: 1.5rem;

  }

  .workout {
    padding: 1.5rem 1rem;
  }

  .form {
    padding: 1.5rem;
  }

  .open-sidebar-btn {
    right: -1rem;
    bottom: 1rem;
  }
}